<html >
    <head>
   	<meta charset = 'utf-8'>

    </head>
<body >
    <h1 align="center">19级计算机科学与技术夏季实践</h1>
    <h2 align="center">2021.7.9——2021.7.23</h2>
    <ul align="center">
        <a href="./d3art0" >d3直方图</a>    
    </ul>
    <ul align="center">
        <a href="./d3art1" >d3饼图</a>
    </ul> 
    <ul align="center">
        <a href="./d3art2" >d3饼图++</a>
    </ul>
    <ul align="center">
        <a href="./d3art3" >d3玫瑰图</a>
    </ul>
    <ul align="center">
        <a href="./d3art4" >d3力导向图</a>
    </ul>
    <ul align="center">
        <a href="./d3art5" >d3力导向图++</a>
    </ul>
    <ul align="center">
        <a href="./d3art6" >db</a>
    </ul>
    

    
</body>
</html>